@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 100;
	src: 	local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/NotoSans-Light.eot);
	src: 	url(/fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
			url(/fonts/NotoSans-Light.woff2) format('woff2'),
			url(/fonts/NotoSans-Light.woff) format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 300;
	src:	local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans-Regular.eot);
	src:	url(/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
			url(/fonts/NotoSans-Regular.woff2) format('woff2'),
			url(/fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: 	local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/NotoSans-Medium.eot);
	src: 	url(/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
			url(/fonts/NotoSans-Medium.woff2) format('woff2'),
			url(/fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 700;
	src:	local('Noto Sans Bold'), local('NotoSans-Bold'), url(/fonts/NotoSans-Bold.eot);
	src:	url(/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
			url(/fonts/NotoSans-Bold.woff2) format('woff2'),
			url(/fonts/NotoSans-Bold.woff) format('woff');
}

.font-nanumpen{font-family: 'Nanum Pen Script';}
.font-bebas { font-family:'Bebas Neue'; line-height:35px; letter-spacing:5px; }
.font-bebas-light { font-family:'Bebas Neue Light'; line-height:35px; letter-spacing:3px; }

.font-100 { font-weight:100; }
.font-200 { font-weight:200; }
.font-300 { font-weight:300; }
.font-400 { font-weight:400; }
.font-450 { font-weight:450; }
.font-500 { font-weight:500; }
.font-700 { font-weight:700; }

.font-10 {font-size:10px; line-height:12px; }
.font-12 {font-size:12px; line-height:14px; }
.font-14 {font-size:14px; line-height:18px; }

.font-16 {font-size:16px; line-height:20px; }
.font-17 {font-size:17px;}
.font-18 {font-size:18px; line-height:22px; }
.font-20 {font-size:20px; line-height:22px; }
.font-22 {font-size:22px; line-height:24px; }
.font-24 {font-size:24px; line-height:26px; }
.font-26 {font-size:26px; line-height:28px; }
.font-28 {font-size:28px; line-height:30px; }
.font-30 {font-size:30px; line-height:34px;}
.font-30-line {font-size:30px; line-height:36px;}
.font-35-line {font-size:35px; line-height:40px;}
.font-35 {font-size:35px; }
.font-37 {font-size:37px; line-height:43px; }
.font-40 {font-size:40px; line-height:48px; }
.font-45 {font-size:45px; line-height:52px; }
.font-50 {font-size:50px; line-height:55px; }
.font-60 {font-size:60px; line-height:65px; }
.font-90 {font-size:90px; line-height:95px; }

.font-12-m {font-size:12px; line-height:16px; }
.font-14-m {font-size:14px; line-height:18px; }
.font-14-m-con {font-size:18px; line-height:22px; }
.font-16-m {font-size:16px; line-height:20px; }
.font-16-review{font-size:16px; line-height:20px; }
.font-16-review2{font-size:14px; line-height:18px; }
.font-18-m {font-size:18px; line-height:22px; }
.font-20-m {font-size:20px; line-height:22px; }
.font-22-m {font-size:22px; line-height:24px; }
.font-24-m {font-size:24px; line-height:24px; }
.font-26-m {font-size:26px; line-height:28px; }
.font-30-m {font-size:30px; line-height:32px; }
.font-32-m {font-size:32px;  line-height:34px; }
.font-40-m {font-size:40px; line-height:48px; }
.font-45-m {font-size:45px; line-height:52px; }
.font-50-m {font-size:50px; line-height:56px; }
.font-80-m {font-size:80px; line-height:85px; }
.font-90-m {font-size:90px; line-height:95px; }
.font-95-m {font-size:90px; line-height:95px; }

.font-thin { font-weight:100; }
.font-light { font-weight:300; }
.font-normal { font-weight:400; }
.font-bold { font-weight:600; }
.font-exbold { font-weight:900; }
.font-white { color:#fff; }
.font-black { color:#202020; }
.font-gray { color:#808080; }
.font-darkgray { color:#535353; }
.font-lightgray { color:#b3b3b3; }
.font-newgray { color:#d9d3d3; }
.font-red { color:#f50012; }
.font-pink { color:#fc229c; }
.font-yellow { color:#f0ff01; }
.font-lightblack { color:#3d3d3d; }
.font-lightblack-2 { color:#6c6c6c; }
.font-lightblack-3 { color:#eaeaea; }
.font-underline { border-bottom:3px solid #fc229c; }
.font-navy { color:#223269; }
.font-blue { color:#03d8ff; }

.font-italic { font-style:oblique; }
.font-mobile-nav{font-size:16}

.font-125rem { font-size:1.25rem; }
.font-150rem { font-size:1.50rem; }
.font-175rem { font-size:1.75rem; }
.font-200rem { font-size:2.00rem; }
.font-300rem { font-size:3.00rem; }
.font-325rem { font-size:3.25rem; }
.font-350rem { font-size:3.50rem; }
.font-400rem { font-size:4.00rem; }
.font-bigrem { font-size:8.00rem; }

.font-lh-50rem { line-height:5rem; }
.font-lh-40rem { line-height:4rem; }
.font-lh-30rem { line-height:3rem; }
.font-lh-20rem { line-height:2rem; }
.font-lh-15rem { line-height:1.5rem; }
.font-lh-16 { line-height:16px; }
.font-lh-14 { line-height:14px; }
.font-lh-12 { line-height:12px; }

.font-ls-3 {letter-spacing:-3px;}
.font-ls-2 {letter-spacing:-2px;}
.font-ls-1 {letter-spacing:-1px;}

@media only screen and (max-width: 768px) {
	
html, body, input, textarea, select, button, table { 
	font-size:12px; 
	font-weight:400; 
	line-height:1.438em; 
	
}
.font-white-m{ color:#ffffff;}
.font-navy-m{ color:#1b2e5f;}

.font-10 {font-size:8px; }
.font-12 {font-size:10px; }
.font-14 {font-size:12px; }
.font-16 {font-size:14px; }
.font-17 {font-size:16px; }
.font-18 {font-size:14px; }
.font-20 {font-size:14px; }
.font-22 {font-size:22px; }
.font-24 {font-size:20px; }
.font-26 {font-size:21px; }
.font-28 {font-size:18px; line-height:24px; }
.font-30 {font-size:22px; line-height:24px; }
.font-35 {font-size:24px; }
.font-40 {font-size:20px; line-height:24px; }
.font-45 {font-size:28px; }
.font-50 {font-size:35px; }
.font-60 {font-size:60px; }
.font-mobile-nav{font-size:16px;}
.font-35-line {font-size:14px; line-height:16px;}
.font-30-line {font-size:16px; line-height:18px;}

.font-12-m {font-size:8px; line-height:8px; }
.font-14-m {font-size:10px; line-height:10px; }
.font-14-m-con {font-size:10px; line-height:10px; }
.font-16-m {font-size:12px; line-height:12px; }
.font-16-review{font-size:14px; line-height:14px; }
.font-16-review2{font-size:14px; line-height:14px; }
.font-18-m {font-size:12px; line-height:14px; }
.font-20-m {font-size:14px; line-height:16px; }
.font-22-m {font-size:14px; line-height:16px; }
.font-24-m {font-size:16px; line-height:16px; }
.font-26-m {font-size:20px; line-height:24px; }
.font-28-m {font-size:24px; line-height:28px; }
.font-30-m {font-size:26px; line-height:34px; }
.font-32-m {font-size:24px; line-height:28px; }
.font-35-m {font-size:28px; }
.font-40-m {font-size:29px; line-height:29px; }
.font-45-m {font-size:30px; }
.font-50-m {font-size:35px; }
.font-90-m {font-size:40px; line-height:45px; }
.font-95-m {font-size:50px; line-height:55px; }


.font-125rem { font-size: 0.75rem; }
.font-150rem { font-size: 1.00rem; }
.font-175rem { font-size:1.25rem; }
.font-200rem { font-size: 1.50rem; }
.font-300rem { font-size: 1.75rem; }
.font-325rem { font-size: 2.00rem; }
.font-350rem { font-size: 2.25rem; }
.font-400rem { font-size: 3.00rem; }
.font-bigrem { font-size: 5.00rem; }

.font-lh-50rem { line-height: 3.50rem; }
.font-lh-40rem { line-height: 3.00rem; }
.font-lh-30rem { line-height: 2.00rem; }
.font-lh-20rem { line-height: 1.75rem; }








} @media (max-width: 412px) { 
.font-white-m{ color:#ffffff;}
.font-navy-m{ color:#1b2e5f;}
.font-18 {font-size:12px; }		
.font-12-m {font-size:6px; line-height:6px; }
.font-14-m {font-size:8px; line-height:10px; }
.font-14-m-con {font-size:8px; line-height:10px; }
.font-16-m {font-size:10px; line-height:10px; }
.font-16-review{font-size:11px; line-height:12px; }
.font-16-review2{font-size:14px; line-height:12px; }
.font-18-m {font-size:8px; line-height:11px; }
.font-20-m {font-size:10px; line-height:12px; }
.font-22-m {font-size:12px; line-height:14px; }
.font-24-m {font-size:14px; line-height:15px; }
.font-26-m {font-size:16px; line-height:20px; }
.font-30-m {font-size:20px; line-height:24px; }
.font-mobile-nav{font-size:11px;}

.font-32-m {font-size:18px; line-height:24px; }
.font-35-m {font-size:22px; }
.font-40-m {font-size:20px; line-height:20px; }
.font-45-m {font-size:24px; }
.font-50-m {font-size:27px; }
.font-90-m {font-size:30px; line-height:35px; }
.font-95-m {font-size:40px; line-height:45px; }
}