<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crewfactory.main.dao.BlogDao">

	<select id="select" parameterType="com.crewfactory.main.domain.SearchDomain" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, description, visit, regdate, regid, loginyn
		FROM blog 
		<trim prefix="WHERE" prefixOverrides="AND||OR">
			<if test = "searchSection != 'all'">
				AND section = #{searchSection}
			</if>
		</trim>
	</select>
	
	<select id="selectMomentByWebTotal" parameterType="java.util.HashMap" resultType="int">
		SELECT 
			count(idx)
		FROM blog 
		WHERE openyn = 'Y'
		AND section = 'moment'
		<if test = "searchText != null">
			AND (title like CONCAT('%', #{searchText}, '%') OR content like CONCAT('%', #{searchText}, '%'))
		</if>
	</select>
	
	<select id="selectBolgByWebTotal" parameterType="java.util.HashMap" resultType="int">
		SELECT 
			count(idx)
		FROM blog 
		WHERE openyn = 'Y'
		AND section = 'blog'
		<if test = "searchText != null">
			AND (title like CONCAT('%', #{searchText}, '%') OR content like CONCAT('%', #{searchText}, '%'))
		</if>
	</select>
	
	<select id="selectBlogByWeb" parameterType="java.util.HashMap" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, description, visit, regdate, regid, loginyn
		FROM blog
		<trim prefix="WHERE" prefixOverrides="AND||OR">
			AND openyn = 'Y'
			AND section = 'blog'
			<if test = "searchText != null">
			AND (title like CONCAT('%', #{searchText}, '%') OR content like CONCAT('%', #{searchText}, '%'))
			</if>
		</trim> 
		ORDER BY idx DESC LIMIT #{start}, #{end};
	</select>
	
		<select id="selectMomentByWeb" parameterType="java.util.HashMap" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, description, visit, regdate, regid, loginyn
		FROM blog
		<trim prefix="WHERE" prefixOverrides="AND||OR">
			AND openyn = 'Y'
			AND section = 'moment'			
			<if test = "searchText != null">
			AND (title like CONCAT('%', #{searchText}, '%') OR content like CONCAT('%', #{searchText}, '%'))
			</if>
		</trim> 
		ORDER BY idx DESC LIMIT #{start}, #{end};
	</select>
	
	<select id="selectBlogKoByHome" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, code, section, title, description, thumbnail, visit, regdate, loginyn
		FROM blog
		WHERE openyn = 'Y'
		AND section = 'blog'
		AND code = 'ko' 
		ORDER BY idx DESC 
		LIMIT 8;
	</select>
	
	<select id="selectBlogOsByHome" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, code, section, title, description, thumbnail, visit, regdate, loginyn
		FROM blog
		WHERE openyn = 'Y'
		AND section = 'blog'
		AND code = 'os' 
		ORDER BY idx DESC 
		LIMIT 8;
	</select>
	
	<select id="selectTopBlogByWeb" parameterType="java.util.HashMap" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, visit, regdate, loginyn
		FROM blog 		
		WHERE topblog = 'Y'
		AND openyn = 'Y'
		AND section = 'blog'
		ORDER BY idx DESC
		LIMIT 4
	</select>
	
	<select id="selectTopBlog" parameterType="java.util.HashMap" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, visit, regdate, loginyn
		FROM blog
		<trim prefix="WHERE" prefixOverrides="AND||OR">
			<if test = "searchSection != null">
				AND section = #{searchSection}
			</if>
		</trim> 		
		AND topblog = 'Y'
		AND openyn = 'Y'
		ORDER BY idx DESC
		LIMIT 4
	</select>
	
	<select id="selectBlogNewOne" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, visit, regdate, loginyn
		FROM blog 		
		WHERE openyn = 'Y'
		ORDER BY idx DESC
		LIMIT 1
	</select>
	
	<select id="view" parameterType="int" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			*
		FROM blog where idx = #{idx};
	</select>
	
	<insert id="insert" parameterType="com.crewfactory.main.domain.BlogDomain">
		INSERT INTO blog (
			idx,
			section,
			code,
			topblog,
			openyn,
			loginyn,
			thumbnail,
			title,
			content,
			taglib,
			description,
			regid,
			regip,
			regdate,
			visit
		) VALUES (
			(select ifnull(max(idx)+1, 1) from blog a),
			#{ section },
			#{ code },
			#{ topblog },
			#{ openyn },
			#{ loginyn },
			#{ thumbnail },
			#{ title },
			#{ content },
			#{ taglib },
			#{ description },
			#{ regid },
			#{ regip },
			now(),
			#{ visit }
		);
	</insert>
	
	<update id="update" parameterType="com.crewfactory.main.domain.BlogDomain">
        UPDATE blog
			SET
			section = #{ section },
			code = #{ code },
			topblog = #{ topblog },
			openyn = #{ openyn },
			loginyn = #{ loginyn },
			thumbnail = #{ thumbnail },
			title = #{ title },
			content = #{ content },
			taglib = #{ taglib },
			description = #{ description },
			regid = #{ regid },
			regip = #{ regip },
			visit = #{visit}
		WHERE idx = #{idx};
    </update>    
    
    <delete id="delete" parameterType="int">
        DELETE FROM blog WHERE idx = #{idx}
    </delete>
    
    <select id="selectMomentByHome" resultType="com.crewfactory.main.domain.BlogDomain">
		SELECT 
			idx, section, openyn, thumbnail, title, visit, regdate
		FROM blog
		WHERE section = 'moment'		
		AND openyn = 'Y'
		ORDER BY idx DESC
		LIMIT 5
	</select>
    
</mapper>